@model IEnumerable<VirvisShopFinal.Models.ProductosDescatados>

@{
    ViewData["Title"] = "Inicio";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/electronica-background.jpg" class="d-block w-100" alt="Imagen 1">
        </div>
        <div class="carousel-item">
            <img src="~/img/indumentaria-background.jpg" class="d-block w-100" alt="Imagen 2">
        </div>
        <div class="carousel-item">
            <img src="~/img/hogar-background.jpg" class="d-block w-100" alt="Imagen 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<main>
    <section class="container my-5">
        <h2 style="justify-content: center; display: flex; align-items: center;">Productos destacados</h2>
        <div id="message" style="display:none; padding: 10px; margin-top: 10px;"></div>
        <div class="product-cards-container">
            @if (Model != null && Model.Any())
            {
                    @foreach (var item in Model.Take(4))
                    {
                        <div class="product-card">
                            <div class="product-card-image">
                            <img src="@item.Product.img" alt="@item.Product.name" />
                        </div>
                        <p class="product-card-title">@Html.DisplayFor(modelItem => item.Product.name)</p>
                            <p class="product-card-body">
                            @Html.DisplayFor(modelItem => item.Product.description)
                            </p>
                            <div class="product-card-footer">
                                <p class="product-card-price">$ @Html.DisplayFor(modelItem => item.Product.price)</p>
                                <button class="product-card-button" data-productid="@item.Product.id">Agregar al carrito</button>
                            </div>
                        </div>
                    }
            } else
            {
                <p>No hay productos disponibles en este momento</p>
            }
        </div>

    </section>
</main>

@section Scripts {
    <script>
        // Cuando el usuario haga clic en el botón "Agregar al carrito"
        $(document).on('click', '.product-card-button', function () {
            var productId = $(this).data('productid'); // Obtener el id del producto

            // Enviar solicitud AJAX al servidor
            $.ajax({
                url: '@Url.Action("AddToCart", "Carts")', // URL de la acción en el controlador Cart
                type: 'POST',
                data: { productId: productId }, // Enviar el productId al servidor
                success: function (response) {
                    // Mostrar el mensaje según la respuesta del servidor
                    $('#message').text(response.message).css('display', 'block').fadeIn();
                    if (response.success) {
                        $('#message').css('color', 'green');
                    } else {
                        $('#message').css('color', 'red');
                    }
                },
                error: function () {
                    // Si ocurre un error
                    $('#message').text('Hubo un problema al agregar el producto al carrito').css('display', 'block').fadeIn();
                    $('#message').css('color', 'red');
                }
            });
        });
    </script>
}