@model IEnumerable<VirvisShopFinal.Models.Product>

@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead style="color: white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr style="color: white">
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>