@model IEnumerable<VirvisShopFinal.Models.Product>

@{
    ViewData["Title"] = "Productos";
}

<main>
    <section class="container my-5">
        <h2 style="justify-content: center; display: flex; align-items: center;">Productos</h2>
        <div id="message" style="display:none; padding: 10px; margin-top: 10px;"></div>
        <div class="product-cards-container">
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <div class="product-card">
                        <div class="product-card-image">
                            <img src="@item.img" alt="@item.name" />
                        </div>
                        <p class="product-card-title">@Html.DisplayFor(modelItem => item.name)</p>
                        <p class="product-card-body">
                            @Html.DisplayFor(modelItem => item.description)
                        </p>
                        <div class="product-card-footer">
                            <p class="product-card-price">$ @Html.DisplayFor(modelItem => item.price)</p>
                            <button class="product-card-button" data-productid="@item.id">Agregar al carrito</button>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No hay productos disponibles en este momento</p>
            }
        </div>
    </section>
</main>


@section Scripts {
    <script>
        // Cuando el usuario haga clic en el botón "Agregar al carrito"
        $(document).on('click', '.product-card-button', function () {
            var productId = $(this).data('productid'); // Obtener el id del producto

            // Enviar solicitud AJAX al servidor
            $.ajax({
                url: '@Url.Action("AddToCart", "Carts")', // URL de la acción en el controlador Cart
                type: 'POST',
                data: { productId: productId }, // Enviar el productId al servidor
                success: function (response) {
                    // Mostrar el mensaje según la respuesta del servidor
                    $('#message').text(response.message).css('display', 'block').fadeIn();
                    if (response.success) {
                        $('#message').css('color', 'green');
                    } else {
                        $('#message').css('color', 'red');
                    }
                },
                error: function () {
                    // Si ocurre un error
                    $('#message').text('Hubo un problema al agregar el producto al carrito').css('display', 'block').fadeIn();
                    $('#message').css('color', 'red');
                }
            });
        });
    </script>
}
